.wd-color-secondary {
    background-color: #2f2e33;
}
#searchbar-input {
    height: 30px;
    width: 90%;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 35px;
}

#settings-cog {
    margin-right: 0px;
    float: right;
    padding-top: 7px;
}

.wd-explore-tab-group {
    font-size: 15px;
    text-decoration: none;
    margin-top: 20px;
}

.wd-explore-tab-group .wd-selected {
    color:  rgb(29,161,242);
    border-bottom: solid  rgb(29,161,242) 3px;
}

.wd-explore-tab-group a {
    text-decoration: none;
    color: rgb(110, 118, 125);
    padding-top: 16px;
    padding-bottom: 16px;
}

.wd-explore-tab-group li {
    display: inline;
    padding-right: 15px;
}

#suggested-posts {
    margin-top: 10px;
}

.wd-post-category {
    color: rgb( 110, 118, 125);
    font-size: 13px;
}

.wd-post-content {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
}

.wd-post-numtweets {
    color: rgb( 110, 118, 125);
    font-size: 13px;
}

.wd-post-with-detail {
    min-height: 105px;
}

.wd-profile-pic {
    border-radius: 50%;
}

.wd-post-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    float: right;
}

.wd-full-width-btn {
    width: 100%;
}

.wd-starship {
    /*background: url("../images/Starship-Mk1-Day.webp") no-repeat;*/
    /*background-size: 100%;*/
    width: 100%;
    /*min-height: 200px;*/
    /*max-height: 400px;*/
}
.wd-starship img {
    width: 100%
}

#wd-starship {
    color: white;
    font-size: 20px;
    font-weight: bold;
    bottom: 6px;
    left: 6px;
}

.wd-to-follow-pfp {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
}


/*.wd-right-sidebar .wd-account-image {*/
/*    background-size: 100%;*/
/*    max-height: 45px;*/
/*    max-width: 45px;*/
/*    border-radius: 50%;*/
/*}*/

.wd-account-image {
    background-size: 100%;
    max-height: 45px;
    border-radius: 50%;
}

.wd-suggested-post-image img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 20px;
}