body {
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    border-color:  rgb(47, 51, 54);
    color: white;
    font-family: Arial, sans-serif;
}
.wd-main-content {
    border: rgb(47, 51, 54) solid 1px;
    background: #232226;
}

.wd-secondary-content {
    padding: 10px 16px;
    border: rgb(47, 51, 54) solid 1px;
    background: black;
    width: 100%;
}

.wd-user-handle {
    color: rgb( 110, 118, 125);
    font-size: 13px;
}

.wd-post-account-name {
    font-size: 13px;
}

.wd-post-kebab {
    transform: rotate(90deg);
    float: right;
    height: 20px;
}


